* {
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1260px;
  margin: 0 auto;

  @media screen and (max-width: 1300px) {
    padding: 0 15px;
  }
}

.overflow {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .2);
  z-index: 9;
  display: none;
}

.overflow--active {
  display: block;
}
